<section class="py-16 px-8">
   <div class="mx-auto max-w-5xl">
      <h2 class="text-4xl font-bold">Some more details</h2>
      <div class="flex flex-col items-center justify-between gap-16 md:flex-row">
         <p class="mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel qui vitae nobis expedita enim quos eveniet
            placeat quibusdam fugit, dolorem blanditiis recusandae accusantium quia maiores voluptate cupiditate magnam
            unde. Quam!
         </p>
         <a
            href="#"
            class="flex-shrink-0 rounded-full bg-gradient-to-br from-cyan-500 to-purple-500 py-2 px-8 font-semibold text-white"
            >Contact us</a
         >
      </div>
   </div>
</section>
