<header class="w-full bg-white flex justify-between items-center px-6 py-4 md:px-8">
   <a href="#">
      <img src="/assets/logo.svg" alt="Logo" class="h-12" />
   </a>
   <nav>
      <ul class="flex gap-10 font-semibold text-sm">
         <li>
            <a href="/" class="{{ 'text-purple-700' if url === 'home' }}">Home</a>
         </li>
         <li>
            <a href="/about" class="{{ 'text-purple-700' if url === 'about' }}">About</a>
         </li>
      </ul>
   </nav>
</header>
